<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="refresh" content="30" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<style>
  th:nth-child(6) {
    display: none;
  }
  td:nth-child(6) {
    display: none;
  }
  form{
    text-align: center;
  }
  .logout{
    margin-top: 20px;
    text-align: center;
  }
</style>

<body>
  <header>
    <div class="header_content">
      <div class="header_left">
        <a href="https://cloudcom1644.herokuapp.com/">ATN</a>
      </div>
      <div>
        <ul class="header_right">
          <li><a href="https://cloudcom1644.herokuapp.com/">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Menu</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </div>

    </div>
  </header>

  <div>
    <%- select_box_str -%>
      <%- table_str -%>
  </div>

  <div class="logout">
    <a class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-10 text-center"
      href="https://cloudcom1644.herokuapp.com">
      Log out
    </a>
  </div>

  <script>
      window.setInterval(() => {
        window.location.reload();
      }, 15000);
    </script>
</body>

</html>